.App {
  text-align: center;
}

.noise {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-image: url(assets/bg.gif);
  background-position: 0 0;
  background-size: 240px;
  right: 0;
  bottom: 0;
  opacity: 0.08;
  pointer-events: none;
  display: block;
}

.content {
  z-index: 1;
}

.start-headline {
  width: 100%;
  font-size: 6vw;
  font-family: oiYou;
  color: #ffd600;
  z-index: 5;
}

.start-headline-bg {
  width: 100%;
  font-size: 6vw;
  font-family: oiMate;
  color: #952626;
  z-index: 0;
}

.arrow {
  border: solid #ffffff;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-wrap {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 90%;
}
